body {
    background-color: #b4b8ab;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -----------------------scrollbar styling */
::-webkit-scrollbar {
    width: .7vw;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #774b12;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #be7c26;
}


.max-width-90 {
    max-width: 90%;
    margin: auto;
}

#black {
    color: black;
}

/* Navbar */

nav {
    background-color: #153243;
}

h1 {
    color: #b4b8ab;
}

nav a {
    color: #f4f9e9;
}

button {
    color: #f4f9e9;
}

/* Footer */

footer {
    background-color: #153243;
    color: #f4f9e9;
    position: relative;
    bottom: 0;
}

/* home page */

.heading {
    font-size: 4rem;
    color: #153243;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.jumbotron {
    text-align: center;
    background: url("/static/images/group.jpg") no-repeat center center;
    background-size: cover;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.text-holder {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #284b63;
    border-color: #284b63;
}

.splash-image {
    border-radius: 40px;
    max-height: 500px;
}

.heading-2 {
    text-align: center;
    margin: auto;
    min-width: 50%;
}

.sliding-images {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fade-in {
    animation: fadeIn 7s;
}

@keyframes fadeIn {
    0%,100% {opacity: 0;}
    50% {opacity: 1;}
}

/* Blog page */

#noticeboard {
    background-color: #284b63e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: #b4b8ab;
}

.card-heading-hl {
    margin: 20px 0 10px 0;
    text-transform: capitalize;
}

.card-main-hl {
    margin-bottom: 4rem;
    background-color: #F4F9E9;
}

.card {
    background-color: #b4b8ab;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin-right-hl {
    margin-right: 10px;
}

.btn-margin-hl {
    margin-bottom: 15px;
}

.message-hl {
    transition: .5s;
}

.message-hl:hover {
    transform: scale(1.05);
}

.btn-primary:hover {
    color: #fff;
    background-color: #153243;
    border-color: #153243;
}

.blog-post {
    background-color: #284b6370;
    color: #153243;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.footer-margin {
    margin-right: 2rem;
}

.title-margin {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    color: #495057;
    background-color: #b4b8ab;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cancel-btn {
    background-color: #ae0b36;
    color:#fff;
    margin: 10px;
}

/* ------------------------------profile and menu styling */
.menu {
    height: 100vh;
    position: relative;
}

.article-box {
    height: 100vh;
    overflow: auto;
}

.profile-card {
    width: 100% !important;
    /* height: 100% !important; */
    position: absolute;
    bottom: 10%;
}

.profile-box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 7px solid #fff
}

.profile-pic {
    height: 100%;
    width: 100%;
}

.profile-edit {
    position: absolute;
    bottom: 5px;
    left: 6px;
}

.img-card {
    position: relative;
}

/* https://css-tricks.com/snippets/css/transparent-background-images/ */
.img-card::after {
    content: "";
    background-image: url("/media/guitar_404.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
/*  user follow-unfollow */
.follow-unfollow {
    color: hsl(0, 81%, 35%)
}

/* ---------------media styling for screen size mobile  */

@media (max-width: 991px) {
    .profile {
        height: 150px;
        width: 150px;
    }
    .menu-txt{
        display: none;
    }
    .menu-txt-box{
        justify-content: center !important;
    }
}