<a class="nav-link" href="#">
    <div class="col-9 text-start pt-5 d-flex m-auto menu-txt-box fs-5">
        <div><span class="px-3 text-center"><i class="fas fa-home"></i></span></div>
        <div><span class="menu-txt">Home</span></div>
    </div>
</a>

<a class="nav-link" href="#">
    <div class="col-9 text-start pt-5 d-flex m-auto menu-txt-box fs-5">
        <div><span class="px-3 text-center"><i class="fas fa-blog"></i></span></div>
        <div><span class="menu-txt">Blog</span></div>
    </div>
</a>
<a class="nav-link" href="#">
    <div class="col-9 text-start pt-5 d-flex m-auto menu-txt-box fs-5">
        <div><span class="px-3 text-center"><i class="fas fa-users"></i></span></div>
        <div><span class="menu-txt">Friends</span></div>
    </div>
</a>
<a class="nav-link" data-bs-toggle="collapse" href="#searchBar" role="button" aria-expanded="false"
aria-controls="helpText">
    <div class="col-9 text-start pt-5 d-flex m-auto menu-txt-box fs-5">
        <div><span class="px-3 text-center"><i class="fas fa-search"></i></span></div>
        <div><span class="menu-txt">Search</span></div>
    </div>
</a>
<div class="collapse mt-4" id="searchBar">
    <div class="card card-body bg-transparent border-0">
        <form method="get" action="#">
            <div class="input-group mb-3">
                <input type="text" name="q" class="form-control" placeholder="Search..."
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                        class="fas fa-search"></i></button>
            </div>

        </form>
    </div>
</div>
<div class="profile-card d-flex align-items-center justify-content-center">
    {% if request.user.is_authenticated %}
    <div class="profile-box m-0">
        {% if "placeholder" in profile.image %}
        <img src="https://res.cloudinary.com/dqb25zazb/image/upload/v1676811282/no_image_found_vehg3g.png"
            class="img-fluid rounded-circle profile-pic" alt="User Profile Picture...">
        {% else %}
        <img src="{{ profile.image.url }}" class="img-fluid rounded-circle profile-pic"
            alt="User Profile Picture for {{ profile.user.username }}">
        {% endif %}
    </div>
    <div class="menu-txt ps-4">
        <h5 class="text-center">{{ user.username }}</h5>

        <div class="dropup-center dropup">
            <a href="" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i
                    class="fas fa-ellipsis-h"></i></a>
            <ul class="dropdown-menu">
                <li class="text-center text-bold"><span class="fs-6">{{ user.username }}</span></li>
                <li><a class="text-center dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="col-9 text-start pt-5 d-flex m-auto menu-txt-box fs-5">
        <div><a class="" href="{% url 'account_login' %}"><span class="btn btn-primary btn-lg">Sign Up | Login</span>
            </a></div>
    </div>
    {% endif %}
</div>