{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container h-100 text-center">
    <div class="row h-100">
        <div class="col mt-5">
            <h1 class="text-clear home-pg-text text-center">
                Noticeboard
            </h1>
            {% if request.user|has_group:"site_admin" %}
            <div class="btn-margin-hl">
                <a class="btn rounded-0 btn-success" href="{% url 'add_blog' %}">
                    Add a blog
                </a>
            </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% for blog in blog %}
                        <div class="card w-100 message-hl card-main-hl">
                            <h2 class="card-title">{{ blog.title }}</h2>
                            <hr>
                            <p class="card-body text-left card-heading-hl">{{blog.body}}</p>
                            <div class="card-footer">
                                <p> {{ blog.added_on }}</p>
                                <small class="ml-3">
                                    <a class="btn btn-info left" href="#">Edit</a>
                                    <a class="btn btn-danger right" href="#">Delete</a>
                                </small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}